@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  height: 100%;
  min-height: 100vh;
  @apply bg-black-800 text-white-300;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  display: none;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-track-piece {
  display: none;
}
::-webkit-scrollbar-thumb {
  background-color: #5eafff;
  border-radius: 40px;
}

@layer utilities {
  /* FLEX */
  .flex-between {
    @apply flex justify-between items-center;
  }
  .flex-center {
    @apply flex justify-center items-center;
  }
  /* FLEX */

  h1 {
    @apply font-sans font-semibold text-[64px] leading-[70px] text-center;
  }
  .h3-bold {
    @apply font-bold text-5xl;
  }
  .h4-bold {
    @apply font-figtree font-bold text-[32px] leading-[35.2px] tracking-[-0.03em];
  }
  /* TYPOGRPHY */
  .p-medium {
    @apply font-figtree font-normal text-[22px] leading-[26.4px] tracking-[-2%];
  }
  .p4-medium {
    @apply font-figtree font-normal text-[18px] leading-[26.4px] tracking-[-2%];
  }
  /* TYPOGRPHY */
  .nav-link {
    @apply font-figtree text-white-300 hover:text-white-100 hover:-translate-y-1 transition-all;
  }

  .group-btn {
    position: relative;
    z-index: 1;
  }

  .group-btn::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background: radial-gradient(circle, var(--blue-500), transparent 80%);
    transition:
      width 0.3s ease,
      height 0.3s ease,
      top 0.3s ease,
      left 0.3s ease;
    z-index: -1;
  }

  .group-btn:hover::after {
    width: 200%;
    height: 200%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
