@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  height: 100%;
  min-height: 100vh;
  font-family: 'figtree';
  @apply bg-black-800 text-white-300;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  display: none;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-track-piece {
  display: none;
}
::-webkit-scrollbar-thumb {
  background-color: #5eafff;
  border-radius: 40px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: padding-box;
  -webkit-text-fill-color: #ffffff;
  transition:
    background-color 5000s ease-in-out 0s,
    -webkit-box-shadow 5000s ease-in-out 0s;
  box-shadow: inset 0 0 0px 1000px #192333;
  background: linear-gradient(0deg, #192333 0%, #192333 100%);
}
.Toastify__toast.Toastify__toast-theme--light.Toastify__toast--error {
  background-color: #4b2a3a;
  color: #ffffff;
}
.Toastify__toast.Toastify__toast-theme--light.Toastify__toast--success {
  background-color: #2a4b3d;
  color: #ffffff;
}
.Toastify__close-button.Toastify__close-button--light {
  color: #ffffff;
}

@layer utilities {
  /* FLEX */
  .flex-between {
    @apply flex justify-between items-center;
  }
  .flex-center {
    @apply flex justify-center items-center;
  }
  /* FLEX */

  .page-wrapper {
    @apply mx-auto flex size-full max-w-screen-lg flex-1 flex-col px-4 py-40;
  }
  /* TYPOGRPHY */
  .h1-semi {
    @apply font-semibold text-3xl leading-[40px] md:text-[64px] md:leading-[70px] text-center;
  }
  .h3-bold {
    @apply font-bold text-5xl text-white-100;
  }
  .h4-bold {
    @apply font-figtree font-bold text-[32px] leading-[35.2px] tracking-[-0.03em];
  }
  .p-medium {
    @apply font-figtree font-normal text-[22px] leading-[26.4px] tracking-[-2%];
  }
  .p4-medium {
    @apply font-figtree font-normal text-[18px] leading-[26.4px] tracking-[-2%];
  }
  /* TYPOGRPHY */
  .nav-link {
    @apply font-figtree text-white-300 hover:text-white-100 hover:-translate-y-1 transition-transform leading-none;
  }
}
