@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  height: 100%;
  min-height: 100vh;
  @apply bg-black-800 text-white-300;
}

@layer utilities {
  /* FLEX */
  .flex-between {
    @apply flex justify-between items-center;
  }
  .flex-center {
    @apply flex justify-center items-center;
  }
  /* FLEX */

  h1 {
    @apply font-sans font-semibold text-[64px] leading-[70px] text-center;
  }
  /* TYPOGRPHY */
  .p-medium {
    @apply font-figtree font-normal text-[22px] leading-[26.4px] tracking-[-2%];
  }
  /* TYPOGRPHY */
  .nav-link {
    @apply font-figtree text-white-300 hover:text-white-100 hover:-translate-y-1 transition-all;
  }
}
